#PencilCase{
  display: flex;
  position: absolute;
  right: 0; 
  bottom: 0; 
  z-index: 10;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  padding: 20px;
  
  
  
  span{  
    display: flex;    
    align-items: center;
  
    &.size{
      
      $pad: 7px;
      
      .less{
        padding-right: $pad;
      }
      
      .plus{
        padding-left: $pad;
      }
      
    }
  
    &.color{
      font-size:2em;
    }
    
    input{
      text-align: center;
      width:50px;
    }
  }
}