#PencilCase {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 500px;
  padding: 20px; }
  #PencilCase span {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #PencilCase span.size .less {
      padding-right: 7px; }
    #PencilCase span.size .plus {
      padding-left: 7px; }
    #PencilCase span.color {
      font-size: 2em; }
    #PencilCase span input {
      text-align: center;
      width: 50px; }

#Phone {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 125px;
  padding: 20px; }
  #Phone span {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2em; }
    #Phone span.hangup, #Phone span.duration {
      display: none; }
    #Phone span.call {
      color: #24af1d; }

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
